.footer{
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 2rem 0;
    
    &__content{
        width: 90%;
        max-width: 1200px;
        display: flex;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
        &__pbox{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        &__left{
            width: 100%;
            max-width: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 2rem 0;
        }
        &__right{
            width: 100%;
            max-width: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            line-height: 3rem;

            &__text{
                padding-left: 1rem;
            }
        }

    }

}
